body {background-color: #0f0075;
}

section{width: 65%;
        float: left;
}

footer{  
        float: left;
        vertical-align: bottom;
}

aside {
          width: 32%;
          margin: 72px 10px 10px 10px;
          display: inline-block;
          min-height: 100%;
          float: right;
          vertical-align: top;
      }
.whole {
        margin: auto;
        width: auto;
        color: gold;}
      .whole{
        font: italic large Garamond;}
nav a {color: yellow; }